<% provide(:title, 'About Us')%>
<h1>About Us</h1>
<p>
  The verb hashi-ru means run in Japanese. Hashi-ru is used in simple sentences such as,
  “watashi wa hashiru,” meaning, “I run.” Watashi wa means I. This website is a hub for
  running news and events.
</p>