<% provide(:title, 'About Us')%>
<h1>About Us</h1>
<div class="hero-unit">
<p>
  Shotgun Analytics is a team of Carnegie Mellon University Silicon Valley students that
  share a love of shooting and technology. We are building a revolutionary mobile app that
  will improve your shooting, and will be easy, fast and fun to use.
</p>
<p>
  <b>We need your help!</b>
  We want to make our app useful to people like you. We want to talk to
  people like you! Contributors will be considered for participation in our exclusive Beta
  testing program, which means you’ll have early access to our experimental, proprietary
  technology. Email research@shotgunanalytics.org and someone on our team will get in touch
  with you shortly.
</p>
<p>
  <b>Abhishek Shiroor :</b>
  Abhishek loves to shoot trap on his 12 gauge Remington 870. Legend has it that Abhishek’s first
  word was “Pull!”, and that he was hitting easy 20’s before he could walk.
</p>
<p>
  <b>David Housman :</b>
  David got his undergraduate education at Carnegie Mellon in Pittsburgh. He has 8 years of
  experience in the software field with such companies as Oracle, Samsung and TiVo, and is
  currently the Web Analytics Program Manager at eHealth.com. He specializes in User Experience
  and Web Analytics. David loves to shoot target, and his favorite gun to shoot is his .308
  Remington 700 VTR. He wants to get into hunting, and his desire for cheap bulk venison was
  the inspiration behind TriggerTally. You can find David’s personal website at www.davidhousman.com.
</p>
<p>
  <b>John Lee :</b>
  John grew up in the NY/NJ area and graduated from Rutgers University.  He has over 10 years of
  experience in the consulting and software field.  In his free time he likes to run marathons and
  play ultimate frisbee. It’s not clear whether John is just too cheap to buy himself a gun, or
  if he has a secret criminal past that nobody knows about. John’s favorite gun is a slingshot,
  followed by the more cost-effective method of running up to his target, tackling it, and
  punching it right in the bullseye.
</p>
</div>